QPushButton{
    background-color:transparent;
    font:20px;
    color:#ffffff;
}
                         
QPushButton:pressed{
    background-color:transparent;
    font:30px;
    color:#409eff;
}
                        
QPushButton:hover{
    background-color:transparent;
    font:30px;       
    color:#409eff;
}
