QPushButton{
    background-color:transparent;
    font:25px;
    color:#409eff;
}
                         
QPushButton:pressed{
    background-color:transparent;
    font:26px;
    color:#ffffff;
}
                        
QPushButton:hover{
    background-color:transparent;
    font:26px;
    color:#ffffff;
}
